application:
  components:
    harness:
      settings:
        mem:
          min: 0.5
          max: 1
          step: 0.25
          default: 0.5
        cpu:
          min: 0.5
          max: 1
          step: 0.25
          default: 0.5
harness: # NOTE: if OPTUNE_USE_DRIVER_NAME is truthy, the name of the connector file will be used instead, eg "adjust"
  settings: # OPTIONAL. Guard rails for canary adjustment
    mem:
      min: 0.5
      max: 1
      step: 0.25
      default: 0.5 # Returned as value when OCO userdata does not contain value for memory
    cpu:
      min: 0.5
      max: 1
      step: 0.25
      default: 0.5 # Returned as value when OCO userdata does not contain value for cpu
  opsani_account: ffff # REQUIRED. Optune account name
  opsani_app_name: gggg # REQUIRED. Name of application in Optune
  adjust_timeout: 3600 # OPTIONAL. How long to wait for workflow to be in SUCCESS or FAILED status
  adjust_on: canary # OPTIONAL. when specified, the input data control.userdata.deploy_to must match the value configured here
  target_platform: k8s # REQUIRED. Either 'ecs' or 'k8s'
  adjust_interface: graphql # OPTIONAL. Canary adjustment interafce, defaults to graphql, valid values are graphql and webhook
  promote_interface: graphql # OPTIONAL. Mainline adjustment interafce, defaults to graphql, valid values are graphql and webhook
  account_id: aaaa # REQUIRED. Id of harness account
  application_name: bbbb #  Name of the harness application
  graphql_url: cccc #  URL of harness graphql API
  ssl_verify: True # OPTIONAL. Set to False to disable verification of graphql API ssl verification
  # graphql config (REQUIRED when either target interface is graphql)
  artifact_source_name: dddd # Name of Artifact to be deployed
  infradefinition_ecs: eeee # Name of Harness infradefinition_ecs
  service: hhhh # Name of Harness service
