application:
  components:
    harness:
      settings:
        mem:
          min: 0.5
          max: 1
          step: 0.25
          default: 0.5
        cpu:
          min: 0.5
          max: 1
          step: 0.25
          default: 0.5
harness:
  settings: # OPTIONAL. Guard rails for canary adjustment
    mem:
      min: 0.5
      max: 1
      step: 0.25
      default: 0.5 # Returned as value when OCO userdata does not contain value for memory
    cpu:
      min: 0.5
      max: 1
      step: 0.25
      default: 0.5 # Returned as value when OCO userdata does not contain value for cpu
  account_id: aaaa # REQUIRED. Id of harness account
  application_name: bbbb # REQUIRED. Id of the harness application
  artifact_source_name: dddd # REQUIRED. Name of Artifact to be deployed
  infradefinition_ecs: eeee # REQUIRED. Name of Harness infradefinition_ecs
  opsani_account: ffff # REQUIRED. Optune account name
  opsani_app_name: gggg # REQUIRED. Name of application in Optune
  target_platform: k8s # REQUIRED. Either 'ecs' or 'k8s'
  adjust_timeout: 3600 # OPTIONAL. How long to wait for workflow to be in SUCCESS or FAILED status
  service: # REQUIRED Name of Harness service
